body{
    background: linear-gradient(90deg, rgba(45,45,47,1) 50%, rgba(15,15,15,1) 100%);
   
}

.main-color{
    color: #36e831;
    text-decoration-line: none;
}
.color-logo{
    color: #36e831;
    font-size: 60px;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #36e831,
      0 0 82px #4ce047,
      0 0 92px #6bdd67,
      0 0 102px #7fe07c,
      0 0 151px #97dd95;

}
.nav-link:hover{
    color: #36e831!important;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #36e831,
    0 0 82px #4ce047,
    0 0 92px #6bdd67,
    0 0 102px #7fe07c,
    0 0 151px #93e491;
}

.bg-green{
    background: linear-gradient(90deg, rgba(48,235,44,1) 22%, rgba(40,40,42,1) 100%);

    
}
.active{
    color: #36e831;
}
.purple-gb{
   background-color:  #5a55bc;
}
